{% extends "layout.html" %}
{% block content %}
<h1>Сайт:</h1>
<div class="table-responsive">
  <table class="table table-bordered table-hover mt-2">
    <tbody>
      <tr>
        <td>ID</td>
        <td></td>
      </tr>
      <tr>
        <td>Имя</td>
        <td></td>
      </tr>
      <tr>
        <td>Дата создания</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<h2 class="mt-5 mb-3">Проверки</h2>
<form method="post">
  <input type="submit" class="btn btn-primary" value="Запустить проверку">
</form>
<div>
  <table class="table table-bordered table-hover mt-2">
    <thead>
      <tr>
        <th>ID</th>
        <th>Код ответа</th>
        <th>h1</th>
        <th>title</th>
        <th>description</th>
        <th>Дата создания</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}